body{
  background-image: url('./img/bg-default.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.global{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  margin: 0;
  font-family: sans-serif;

}

.card-left-menu{
  margin-right: 1em;
  background: #000000b0;
  color: #ffffff7f;
  padding: 2em;
  border-radius: 30px;
  width: 100%;
  max-width: 420px;

}

.search-bar{
  border-radius: 15px;
}

.search-button{
  border-radius: 15px;
  margin-left: 0.2em;
}

.search-result{
  margin-top: 1em;
}

.card-right-menu{
  margin-left: 1em;
  background: #000000b0;
  color: #ffffff7f;
  padding: 2em;
  border-radius: 30px;
  width: 100%;
  max-width: 420px;

}

